@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    position: relative;
    
}

header{
    /* position: fixed; */
    display: flex;
    height: 13.7vh;
    width: 100%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    background-color: white;
    z-index: 8;
    gap: 22.5%;
    transition: all 0.2s ease ;
    font-family: "Jost",sans-serif;
}

header .smallheight{
    height: 10vh;
}

header h1{
    height: 100%;
    font-family: "Josp", sans-serif;
    font-size: 48px;
    margin-left: 3.8%;
    line-height: 58px;
    display: flex;
    align-items:center;
}

.rouge{
    color: #f14d5d;
}

.bleu{
    color: #2878eb;
}


header nav{
  width: 59%; 
  display: flex;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  gap: 7%;
}

nav #call{
    text-decoration: none;
    width:33% ;
    display: flex;
    gap: 3%;
    align-items: center;
    justify-content: center;
    padding: 1%;
    background-color: #f14d5d;
    color: white;
}

nav a i{
    color: white;
}

nav ul{
    width: 60%;
    display: flex;
    align-items: center;
    gap: 7%;
}

header ul li{
   list-style: none;
   cursor: pointer; 
   position: relative;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   /* border: #120f2c solid 1px; */
}

header ul li a {
    text-decoration: none;
    position: relative; 
    display: block;
    transition: all 1s ease 0.1ms;
    color: #120f2c;
}

header ul li a::before,header ul li a::after{
    position: absolute;
    content: " ";
    background-color: #2878eb;
    height: 20%;
    width: 0px;
    top: 180%;
    transition:all 0.5s ease;
}

header ul li a::before,header ul li a:hover::before{
    right: 50%;
}

header ul li a::after,header ul li a:hover::after{
    left: 50%;
}

header ul li .active::before,header ul li .active::after,
header ul li a:hover::before, header ul li a:hover::after { 
    position: absolute;
    content: " ";
    background-color: #2878eb;
    height: 20%;
    width: 50%;
    margin-bottom: 0px;
}

header ul li .active, header ul li a:hover{
    color: #2878eb; 
}




.pagesliens .activate{
    background-color: #2878eb;
    color: white;

}

header + div.pagesliens{
    border-radius: 2px;
    position: absolute;
    z-index: 15;
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 13%;
    height: 28vh;
    background-color: white;
    right: 26%;
    border: #120f2c solid 1px;
    visibility: hidden;
}

header + div a{
    /* padding-left: 10%; */
    padding: 3%;
    width: 100%;
    height: 5.2vh;
    color: #1e2125;
    text-decoration: none;
    /* border: #120f2c solid 1px; */

}

header + div a:hover{
    background-color: #e9ecef;

}


header ul li a.pages{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    /* border: #120f2c solid 1px; */
    gap: 5px;
}



header ul li a.pages i{
    width: 20px;
    height: 20px;
    color: #120f2c;
}

header ul li a.pages:hover i{
    color: #2878eb;
}




main{
    display: flex;
    flex-direction: column;
    gap: 95px;
    font-family: "Josp", sans-serif;
    margin-top: 13.7vh;
}

.centrer{
    text-align: center;
}


h1.entete{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 5px;
    font-family: "Jost",sans-serif;
}

.noire{
    color: #120f2d;
}

.entete + h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    font-family: "Jost",sans-serif;
}
.espace_bas{
    margin-bottom: 4.5%;
}

.gris{
    color: #6b6a75;
}



.blanche{
    color: white;
}

main .debut{
    background-image: linear-gradient( rgba(18, 15, 45, .5), rgba(18, 15, 45, .5)),url("images/carousel-1.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Josp", sans-serif;

}

.debut  p:first-child{
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    animation: apparution 2s ease forwards;
}

.debut p:last-child{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

@keyframes apparution {
    from{
        transform: scale(0.01);
    }
    to{
        transform: scale(1);
    }
}



main section{
    height: 115vh;
    margin: 0 6% 95px 6%;
}

section .container{
    display: flex;
    height: 74%;
    gap: 4%;
}

.container form{
    background-color: #ecf4ff;
    border-radius: 2px;
    width: 58%;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.container form div{
    /* border: #120f2c solid 2px; */
    height: 13%;
    display: flex;
    gap: 2%;
}

.container form div > input[type = "text"] , div >input[type = "email"]{
  height: 100%;
  width: 50%;
  padding: 2%;
  border: none;
}

.container input[type = "text"],input[type ="submit"]{
    height: 13%;
    border: none;
    padding: 2%;
}

.container form input[type ="submit"]{
    background-color: #2878eb;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-family: "Josp",sans-serif;

}

.container form textarea{
    height: 50%;
    border: none;
    padding: 2%;
}


.opensans{
    font-family: "Opens Sans",sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    color: #6b6a75;
}


.container .maps{
    background-color: #ecf4ff;
    border-radius: 2px;
    width: 40%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.maps >div{
    display: flex;
    align-items: center;
    /* border: #120f2c solid 1px; */
    height: 12%;
    gap: 2%;
}


.maps >div i{
    /* background-color: #f14d5d; */
    font-size: 40px;
    width: 45px;
}

.maps .map p:first-child{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #120f2d;
    font-family: "Jost",sans-serif; 

}

.maps .carte{
    height: 45vh;
}

iframe{
    height: 100%;
}

.gris{
    color: #6b6a75;
}




footer{
    display: flex;  
    flex-direction: column;
    background-color: #120f2c;
    color: white;
    height: 82vh;
    /* width: 100%; */
}

footer > div:first-child{
    height: 68%;
    border: #f14d5d solid 1px;
    margin: 48px 24px;
    display: flex;
    flex-direction: column;
}

footer > div:first-child .liens_footer{
    display: flex;
    justify-content: center;
    height: 65%;
}

footer > div:first-child .liens_footer .lien{
    width: 25%;
    border: white solid 1px;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}

 
.lien h2{
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    font-family: "Jost",sans-serif; 
}


.lien a, .lien p{
    text-decoration: none;
    color: white;
    gap: 1%;
    display: flex;
    align-items: center;
    height: 5vh;
}

.lien a img{
    height: 5vh;
}

.lien .links{
    display: flex;
    gap: 5%;
}

.links div{
    background-color:#2878eb;
    width: 17%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}

footer > div:first-child form {
    margin-top: 48px;
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 20%;
    border: #6b6a75 solid 1px;
}

footer > div:first-child form input[type = "email"]{
    height: 85%;
    width: 43%;
    border: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding-left: 1%;
}

footer > div:first-child form button[type = "submit"]{
    text-align: center;
    height: 85%;
    width: 10%;
    border: none;
    background-color: #2878eb;
    color: white;
    font-family: "Jost",sans-serif; 
    font-weight: 600;
    font-size: 16px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; 
}

footer .pied_page{
    background-color: #2878eb;
    height: 14%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    padding: 0 1% 0 1%;
}

footer .pied_page a {
    color: white;
}

@media (max-width: 767px) {
    section .container{
        flex-direction: column;
    }
    footer{
        width: 100%;
        height: 200vh;
    }

    footer > div:first-child{
        justify-content: center;
        height: 80%;
    }

    footer > div:first-child .liens_footer{
        height: 70%;
        display: flex;
        flex-direction: column;
    }

    footer > div:first-child .liens_footer .lien{
        
    }

    footer > div:first-child form{
        
        height: 8%;
    }
}

@media (min-width: 767px) and (max-width: 935px) {
    
}
