@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    position: relative;
    height: 100%;
}

.rouge{
    color: #f14d5d;
}

.bleu{
    color: #2878eb;
}




main{
    min-height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    gap: 95px;
    font-family: "Jost", sans-serif;
    margin-top: 90px;
}

.centrer{
    text-align: center;
}


h1.entete{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 5px;
    font-family: "Jost",sans-serif;
}

.noire{
    color: #120f2d;
}

.entete + h1{
    font-weight: 700;
    font-size: 3.8vw;
    line-height:4.4vw;
    font-family: "Jost",sans-serif;
}
.espace_bas{
    margin-bottom: 4.5%;
}

.gris{
    color: #6b6a75;
}



.blanche{
    color: white;
}

main .debut{
    background-image: linear-gradient( rgba(18, 15, 45, .5), rgba(18, 15, 45, .5)),url("../images/carousel-1.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Josp", sans-serif;

}

.debut  p:first-child{
    font-weight: 700;
    font-size: 6.2vw;
    line-height:7.5vw;
    animation: apparution 2s ease forwards;
}



.debut p:last-child{
    font-weight: 500;
    font-size: 1.9vw;
    line-height:2vw;
    font-family: "Josp", sans-serif;
}


.debut p:last-child i{
    font-size: 1.2vw;
}
@keyframes apparution {
    from{
        transform: scale(0.01);
    }
    to{
        transform: scale(1);
    }
}



main section{
    height: 115vh;
    margin: 0 6vw 6vw 6vw;
    /* border: #120f2d solid 1px; */
}



section .container{
    display: flex;
    height: 74%;
    gap: 4%;
}


.container form{
    background-color: #ecf4ff;
    border-radius: 2px;
    width: 58%;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.container form div{
    height: 13%;
    display: flex;
    gap: 2%;
}

.container form div > input[type = "text"] , div >input[type = "email"]{
  height: 100%;
  width: 50%;
  padding: 2%;
  border: none;
}

.container input[type = "text"],input[type ="submit"]{
    height: 13%;
    border: none;
    padding: 2%;
}

.container form input[type ="submit"]{
    background-color: #2878eb;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-family: "Josp",sans-serif;

}

.container form textarea{
    height: 50%;
    border: none;
    padding: 2%;
}


.opensans{
    font-family: "Opens Sans",sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    color: #6b6a75;
}


.container .maps{
    background-color: #ecf4ff;
    border-radius: 2px;
    width: 40%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 5%; /* border: #120f2c solid 2px; */
}

.maps >div{
    display: flex;
    align-items: center;
    /* border: #120f2c solid 1px; */
    height: 12%;
    gap: 2%;
}


.maps >div i{
    /* background-color: #f14d5d; */
    font-size: 40px;
    width: 45px;
}

.maps .map p:first-child{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #120f2d;
    font-family: "Jost",sans-serif; 

}

.maps .carte{
    height: 45vh;
  
}

iframe{
    height: 100%;
}

.gris{
    color: #6b6a75;
}

@media screen and (max-width:992px){
    main section{
        height: 220vh;
    }
    section .container{
        /* border: #120f2d solid 1px; */
        flex-direction: column;
        align-items: center;
        height: 80%;
    }

    .container form{
        width: 100%;
        height: 100vh;
    }

    .container .maps{
        width: 100%;
    }

}